/dataset/cifar_resnet_random_0.2/
/dataset/cifar_resnet_random_0.1/
/dataset/cifar_resnet_none/
/dataset/cifar_resnet_stripes_0.2/
/dataset/cifar_resnet_stripes_0.1/
/dataset/cifar_resnet_random_0.3/
/dataset/cifar_resnet_stripes_0.3/
